.sirelize{margin:0;padding:0;border:0;font:inherit;font-size:100%;font-style:normal;background:transparent;cursor:default}.tk_row{padding:0;width:960px;float:none;margin:0
auto;clear:both}#tk_header{height:90px;position:relative;padding:0}#tk_header div,
#tk_header a,
#tk_header
img{margin:0;padding:0;border:0;line-height:0}#tk_header
.logo{float:left;_display:inline;position:absolute;left:-11px;top:0px;width:391px;height:85px}#tk_header
.sites{margin:0;padding:0;width:480px;height:32px;line-height:30px;position:absolute;right:0px;top:0px;text-align:right;padding-right:4px}#tk_header .sites
a{text-decoration:none;cursor:pointer;color:#333}#tk_header .sites
a.f09{color:#f00;font-weight:bold}#tk_nav{margin:0;padding:0;height:28px;line-height:26px}#tk_nav
a{display:block;float:left;margin:0;padding:0;width:100px;height:28px;margin-right:7px;line-height:26px;font-family:"Microsoft Yahei",Arial;font-size:16px;font-weight:bold;text-align:center;color:#FFF;text-decoration:none;background:#f81668 url('/statics/201401/img/2013_menu_bg.png') no-repeat}#tk_nav a:hover{background:#fb7fac url('/statics/201401/img/2013_menu_bg2.png') no-repeat}#tk_scroll{margin:0;padding:0;width:940px;height:178px;overflow:hidden;position:relative}#tk_scroll ul,
#tk_scroll li,
#tk_scroll a,
#tk_scroll img,
#tk_scroll
span{margin:0;padding:0;border:0}#tk_scroll .slide-ul{position:relative;width:8640px;margin:0
0 0 -5px}#tk_scroll .slide-ul
li{display:inline;float:left;width:308px;height:178px;padding:0
5px;overflow:hidden}#tk_scroll .slide-ul li
a{display:block;position:relative;width:308px;height:178px;overflow:hidden;color:#fff;line-height:0;text-align:center}#tk_scroll .slide-ul li a:hover .pic-txt{color:#fff}#tk_scroll .slide-ul li .pic-txt{display:block;clear:both;position:absolute;left:0;bottom:-30px;width:308px;height:30px;margin:-30px 0 0;z-index:1;background-color:#000;opacity:0.5;filter:alpha(opacity=50);cursor:pointer}#tk_scroll .slide-ul li
.text{position:absolute;right:0;bottom:-30px;font:14px/30px Microsoft YaHei;width:308px;height:30px;padding:0
5px;z-index:9}.info-btn{width:116px;height:18px;overflow:hidden;margin:0
auto;padding:8px
0 0 0px;zoom:1}.info-btn
li{float:left;padding:0
3px}.info-btn li
span{display:block;width:22px;height:22px;background:url("/statics/201401/img/nav-btn.png") 0 -27px no-repeat;text-indent:-9999em;overflow:hidden;cursor:pointer}.info-btn .info-cur span,
.info-btn .info-hover
span{background-position:0 0}.clear{clear:both}.clearfix:after{content:".";display:block;visibility:hidden;clear:both;height:0;font-size:0}.clearfix{*zoom:1}.side{float:right;width:235px}.tk_main{width:960px;margin:0
auto}.main
h1{font-family:"Microsoft Yahei",arial,"Simsun";font-size:22px;padding-top:10px}.mt{margin-top:10px}.tk_mt15{margin-top:15px}.tk_tab{position:relative;width:940px;margin-bottom:10px;padding:9px;border:1px
solid #e9e9e9;background:#fff}.tab ul
img{vertical-align:middle}dl.imagesWrapper{margin:0;padding:0}dl.imagesWrapper dt,
dl.imagesWrapper dd,
dl.imagesWrapper div,
dl.imagesWrapper span,
dl.imagesWrapper a,
dl.imagesWrapper
img{margin:0;padding:0;border:0}dl.imagesWrapper
dt{height:22px;padding-bottom:15px}dl.imagesWrapper dt
.title{width:87px;height:22px;float:left}dl.imagesWrapper dt
.post{width:95px;height:16px;float:right}dl.imagesWrapper
dd{overflow:hidden;border:1px
solid #ccc;width:225px;height:300px;float:left;margin-right:20px;position:relative;margin-bottom:24px;z-index:1}dl.imagesWrapper dd
img{width:225px;height:300px}dl.imagesWrapper dd
.mask{position:absolute;bottom:-50px;left:0px;width:234px;height:50px;background-color:#000;opacity:0.5;filter:alpha(opacity=50);z-index:2}dl.imagesWrapper dd
.content{position:absolute;bottom:-50px;left:0px;width:234px;height:50px;z-index:3}dl.imagesWrapper dd .content a,
dl.imagesWrapper dd .content
span{position:relative;color:#fff;font-size:14px;line-height:25px;padding-left:10px;width:222px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}dl.imagesWrapper dd .content
span{display:block}dl.imagesWrapper
dd.rightlimit{margin-right:0px}dl.imagesWrapper
dd.split{height:10px;clear:both;float:none}dl.imagesWrapper
dd.baidu1{height:90px;text-align:center;border:0px;width:960px}dl.imagesWrapper
dd.baidu2{height:15px;text-align:center;border:0px;width:960px}dl.imagesWrapper
dd.pager{height:50px;border:0px;width:960px}.hr_10{margin:0;padding:0;height:10px;clear:both;float:none;font-size:0;line-height:0;width:100%;overflow:hidden}#tk_baidu_ad{*margin-top:24px;margin-bottom:24px;padding:0;height:90px;overflow:hidden}.col_24{_display:inline;padding:0;width:960px;float:none;margin:0
auto;clear:both;zoom:1}#blog{height:210px;overflow:hidden;border-bottom:0px solid #999}#blog div,
#blog h2,
#blog img,
#blog a,
#blog span,
#blog
p{margin:0;padding:0;border:0}#blog
h2.user_title{height:30px}#blog h2.user_title
.user_title_left{float:left;width:500px;height:30px}#blog h2.user_title
.user_title_right{float:right;width:150px;height:30px;margin-right:10px;color:#333;line-height:30px;font-weight:normal;font-size:12px}#blog
.user_list{width:122px;display:inline;margin:10px
0px;margin-right:13px;float:left}#blog .user_list
.user_list_border{float:none;width:120px;height:120px;margin-bottom:5px;overflow:hidden;text-align:center}#blog .user_list .user_list_border
img{width:120px}#blog .user_list
.user_list_info{float:none}#blog .user_list .user_list_info
p{clear:both;line-height:1.3em;width:120px;overflow:hidden;word-space:nowrap;height:1.3em}#blog .user_list .user_list_info p a:hover{color:#9e21bf}.tk_link{margin-top:0}#tk_footer{margin:0;padding:0;background-color:#e7e7e7;text-align:center;line-height:30px;padding-top:30px;height:100px}#tk_footer p,
#tk_footer img,
#tk_footer
a{margin:0;padding:0}#blog
h2.tj_title{height:30px}#blog h2.tj_title
.tj_title_left{float:left;width:500px;height:30px}#blog h2.tj_title
.tj_title_right{float:right;width:95px;height:30px;margin-right:10px;color:#333;line-height:30px;font-weight:normal;font-size:12px}#blog
.tj_list{width:150px;display:inline;margin:0px
0px;margin-right:12px;margin-bottom:15px 0px;float:left}#blog .tj_list
.tj_list_border{float:none;width:150px;height:165px;margin-bottom:15px;overflow:hidden;text-align:center}#blog .tj_list .tj_list_border
img{width:150px;height:165px}#blog .tj_list
.tj_list_info{float:none;text-align:center;clear:both;line-height:1.3em;width:150px;overflow:hidden;word-space:nowrap;height:1.3em}#blog
.xi2{color:#F9176B;font-size:14px}#blog
.zise{color:#000;font-size:14px}.top2{float:right;margin-top:30px;height:58;overflow:hidden}.tl_baidu{text-align:center;padding:15px
0px}.tl_adver{height:90px;overflow:hidden;padding-top:15px}dl.imagesWrapper
dd.pager{color:#333;padding:16px
0px;margin-top:27px;padding-right:36px;text-align:center}dl.imagesWrapper dd.pager
a{text-decoration:none;color:#333;padding-left:18px;border:1px
solid #ccc;padding:4px
6px;line-height:8px;height:8px}dl.imagesWrapper dd.pager
span{border-color:#fe6d00;color:#fe6d00;font-weight:bold;background-color:#f8f8f8;border:1px
solid #ccc;padding:4px
6px;line-height:8px;height:8px}#baidu_ad{margin-bottom:24px}@CHARSET "UTF-8";